* {
    font-family: 'Roboto', serif;
    box-sizing: border-box;
}
body {
    margin: 0px;
    text-align: center;
}
.contain{
    width: 100%;
    max-width: 78.125rem;
    display: inline-block;
    text-align: left;
}
#header {
    text-align: center;
    display: block;
}
#title {
    float: left;
    padding-top: 15px
}
#header h1 {
    padding-top: 10px;
    margin: 0px;
    color: black;
    text-decoration: none;
}
#title a {
    color: black;
    text-decoration: none;
}
#header nav {
    float: right;
    text-align: right;
}
#header nav a {
    padding: 30px 20px;
    display: inline-block;
    color: #444;
    text-decoration: none;
    transition: background-color 0.5s ease;
}
#header nav a.active {
    color: black;
}
#header nav a:hover {
    background-color: #a00078;
    color: white;
}
#hero {
    padding: 50px 10px;
    width: 100%;
    text-align: center;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center bottom; 
}
#hero p{
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.class {
    margin: 80px 0px;
    height: 200px;
}
.class-image {
    height: 100%;
    width: 20%;
    display: inline-block;
}
#hoop-image {
    background-image: url('./assets/hoop.jpeg');
    background-size: cover;
    background-position: center;
}
#pole-image {
    background-image: url('./assets/pole.jpg');
    background-size: cover;
    background-position: left;
    float: right;
}
#silk-image {
    background-image: url('./assets/silk.jpg');
    background-size: cover;
    background-position: center;
}
#classes .info {
    display: inline-block;
    width: 79%;
    vertical-align: top;
    padding: 20px;
}
.contain {
    padding: 0px 15px;
}
h2 {
    font-size: 30px;
    margin-top: 0px;
}

#footer {
    color: white;
    width: 100%;
    background-color: #111111;
    padding: 20px 0px;
}
#footer .contain {
    vertical-align: top
}
#footer > div > div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
#map, #address {
    height: 350px;
}
#address {
    padding: 40px;
}
#map > iframe {
    width: 100%;
    height: 100%;
}
#footer a {
    color: white;
}

#nav-button {
    display: none;
}

/* body {
    background-image: url('./assets/bg.png')
} */

@media (max-width: 700px) {
    #header .contain {
        padding: 0px;
    }
    #nav-button {
        display: block;
    }
    #title {
        display: block;
        padding-left: 15px;
    }
    #nav-button {
        float: right;
        height: 60px;
        width: 60px;
        margin: 0px;
        border: 0;
        padding: 0;
        padding-top: 22px;
        background-color: white;
    }
    #nav-button div {
        width: 30px;
        height: 3px;
        margin: 6px;
        display: block;
        background-color: black;
        border-radius: 1px;
    }
    /* nav {
        display: none;
    } */
    nav a {
        display: block;
        width: 100%;
        text-align: left;
    }
    .class {
        height: auto;
        margin: 40px 0px;
    }
    .class-image {
        height: 300px;
        width: 100%;
        display: inline-block;
    }
    .class h2 {
        padding-top: 20px;
    }
    #classes .info {
        width: 100%;
    }

    #footer > div > div {
        width: 100%;
    }
}